
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_OrderHistory.css" rel="stylesheet" />
<div class="container-order">
    <h2>Lịch sử mua hàng</h2>

    <table class="order-table">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Ngày mua</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody id="orderBody">
            <tr>
                <td>DH001</td>
                <td>2025-10-28</td>
                <td>iPhone 17 Pro</td>
                <td>37.000.000₫</td>
                <td class="status processing">Đang xử lý</td>
            </tr>
        </tbody>
        <tbody id="orderBody">
            <tr>
                <td>DH003</td>
                <td>2025-12-28</td>
                <td>iPhone 17 Pro Max</td>
                <td>45.000.000₫</td>
                <td class="status processing">Đã Giao</td>
            </tr>
        </tbody>
        <tbody id="orderBody">
            <tr>
                <td>DH004</td>
                <td>2025-12-28</td>
                <td>iPhone 17 Pro Max</td>
                <td>45.000.000₫</td>
                <td class="status processing">Đã Giao</td>
            </tr>
        </tbody>
        <tbody id="orderBody">
            <tr>
                <td>DH005</td>
                <td>2025-12-25</td>
                <td>iPhone 17 Pro Air</td>
                <td>45.000.000₫</td>
                <td class="status processing">Đã Giao</td>
            </tr>
        </tbody>
    </table>

    
</div>
<script src="~/Content/js/Js_OrderHistory.js"></script>

